
@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);

html {
  margin:0;
  padding:0;
  background: url(../images/login.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

body {
    font-size: 20px;
    text-align: center;
    margin-top: 30vh; /* poussé de la moitié de hauteur de viewport */
    background: url(../images/login.jpg) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

form {
  display: flex;
  flex-direction: column;
  margin: 0px 40%;
  padding: 20px;
}

input {
  margin : 3%;
  font-size: 1.25em;
}


h1 {
  color: #fff;
  font-family: 'Cardo', serif;
  font-size: 3.5em;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 2.2em;
}
