html {
  margin:0;
  padding:0;
  background: url(../images/login.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

body {
  font-size: 20px;
  text-align: center;
  color: black;
  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

form {
  background-color: #ABA598;
  margin: 0px 40%;
  padding: 20px;
  border-radius: 25%;
}

input {
  margin : 2%;
}
