/************************
 * Headers and titles
 ************************/
header {
	margin-top: 0.2rem;
	height: 9rem;
}

a {
	text-decoration: none;
	color: white;
}

#imgEncyclo{
	width: 80px;
    height: auto;
}

/************************
 * Global
 ************************/
 html {
	 background-image: url("../images/fond1_3");
	 background-size: cover;
	 background-repeat: no-repeat;
 }


body {
	font-family: 'Almendra', serif;
}

main {
	/*background-color: #999999;*/
	box-shadow: 0rem 0rem 0.7rem black;
	height: 46rem;
}

.main {
  display: flex;
  flex-wrap: wrap;
	height: 100%;
}
/* Création de trois colonnes pour l'affichage dans le main */
.container {
  flex: 59%;
	max-width: 59%;
	text-align: center;
	/* On se prépare à créer les deux lignes de la zone event*/
	display: flex;
	flex-direction: column;
}

.column {
	display: flex;
	max-width: 33%;
	flex: 33%;
  flex-direction: column;
	text-align: center;
}

.column > div {
	width: inherit;
	height: 50%;
}

/************************
 * Encart lois
 ************************/

#lois {
	background-image: url("../images/PanneauLoi.png");
	background-size:100% 100%;
	padding-top: 0.5rem;
	margin-bottom: 0.15rem;
	margin-left: 0.3rem;
	font-size: 1rem;
}

#lois > h2 {
	margin-top: 6rem;
	font-size: 1.6rem;
}

#lois > div {
	font-size: 1.6rem;
}

#lois > p {
	font-size: 1.3rem;
}
/************************
 * Encart evenements
 ************************/
#event {
	background-color: rgb(255,255,255,0.3);
	border-radius: 1rem;
}
#event > h1 {
	font-size: 3rem;
}

		/************************
		 * Partie jauges
		 ************************/

			.jauges {
				display: flex;
				max-width: 100%;
				max height: 20%;
				flex: 20%;
			  flex-direction: row;
				text-align: center;
			}

			.jauges .columnDiffJauges > p {
					font-size: 2rem;

				}

						/************************
						 * Différentes jauges
						 ************************/
						 .columnDiffJauges {
							 flex: 33%;
							 flex-direction: row;
						 }

						 .bar-container {
							  max-width: 10rem;;
							  margin: 0 auto;
								padding-top: 0.5rem;
								padding-left: 1rem;
								padding-right: 1rem;
								padding-bottom: 1rem;
						 }

						 .goal-bar {
							  position: relative;
							  height: 100%;
							  padding-left: 1rem;
							}

						 .bar-wrap {
							  position: relative;
							  height: 100%;
							  background: rgb(242, 242, 242);
						    border: 0.1rem solid rgb(199, 199, 199);
							  border-radius: 0.3rem;
							  overflow: hidden;
							}

						 .bar {
							  position: absolute;
							  width: 100%;
							  height: 100%;
							  background: rgb(193, 232, 139);
							  transform: translateY(100%);
							  transition: all 0.2s;
							}

							.bar-info {
							  position: relative;
							  margin: 0.7rem;
							}


		 /************************
		  * Partie événements
		  ************************/

			.evenements {
				display: flex;
				max-width: 100%;
				flex: 80%;
			  flex-direction: column;
				text-align: center;
			}


			#formEvent {
				font-size: 1.5rem;
			}

			.contenuEvent {
				margin-left: 1rem;
				margin-right: 1rem;
				margin-bottom: 1rem;
				background-color: rgb(249, 249, 249, 0.8);
				height: 85%;
				max-height: 28rem;
				width: 70rem;
				max-width: 65rem;
				overflow: auto;
				text-align: left;
				padding-left: 1rem;
				align-self: center;
				border-radius: 1rem;
				font-size: 1.5rem;
			}

			/* Bandeau décret lois */
			.flex-event-header {
				display: flex;
			}

			/* Overlay*/
			.overlayBandeau {
				position: relative;
				text-align: inherit;
			}

			.overlayBandeau > span > h2 {
				padding-top: 0.5rem;
			}

			/* Positionnement du contenu dans l'overlay*/
			.overlayBandeau-content {
				height: 0;
				width: 100%;
				position: absolute;;
				text-align: center;
				z-index: 2000;
				left: 0;
				top: 100%;
				background-color: rgb(255,255,255); /* Fond blanc */
				background-color: rgba(255,255,255, 0.9); /* Blanc avec transparence */
				overflow-x: hidden;
				transition: 0.5s; /* Temps de déroulement */
			}

			/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
			@media screen and (max-height: 450px) {
				.overlayBandeau a {font-size: 20px}
				.overlayBandeau .btnFermer {
					font-size: 40px;
					top: 15px;
					right: 35px;
				}
			}


/************************
 * Encart arbre
 ************************/

 /* Bandeau d'affichage de l'arbre généalogique*/
 #bandeauArbre {
 	height: 100%;
   width: 8%;
 	max-width: 8%;
   z-index: 1;
   top: 0;
   left: 0;

   overflow-x: hidden;
 }

 #bandeauArbre > h1 {
 	writing-mode: vertical-lr;
 	transform: rotate(180deg);
 	margin-left: 3rem;
 	margin-top: 2rem;
 	font-size: 3rem;
	color: white;
 }

 #imgBoutonArbre {
	 background-image: url("../images/Bouton_arbre.png");
	 background-size: cover;
	 width: 9rem;
	 height: 9rem;
	}
	#imgBoutonArbre:hover {
		cursor: pointer;
		background-image: url("../images/Bouton_arbre_survol.png");
	}
 
 /************************
  * Encart personnage/carac
  ************************/
#carac {
	background-image: url("../images/livre_entier1.png");
	background-size:100% 100%;
	padding-top:1.8rem;
	margin-top: 0.15rem;
	margin-left: 0.3rem;
	font-size: 1.2rem;
}

	#carac > h2 {
		padding-bottom: 0.3rem;
	}

	#affichageImageEtTexte {
		display : flex;
		flex-direction: row;
		justify-content: center;
		margin-top: 0.5rem;
	}

 #affichageTexte {
 	display : flex;
 	flex-direction: column;
 	align-self: center;
 }

 #imgPerso{
 	align-self: center;
 	width: 200px;
 	height: 200px;
 	margin-right: 5.5rem;
 }

/************************
 * Headers
 ************************/

 #titreJeu {
 	font-size: 4.5rem;
 	font-weight: bold;
	background-image: url("../images/Parchemin_titre_principal.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
 }
 #titreJeu > a {
	 color: #FFD700; /*couleur doree titre*/
	 padding-top: 0.4rem;
 }

 #annee {
 	font-size: 2.5rem;
	background-image: url("../images/Parchemin_titre_gauche.png");
	background-repeat: no-repeat;
	background-size: 100% 80%;
	background-position: center;
}
#annee > h1 {
 	padding-left: 10rem;
 	padding-top: 0.9rem;
}

#encyclo {
		background-image: url("../images/Parchemin_titre_droite.png");
	 	background-repeat: no-repeat;
	 	background-size: 100% 80%;
		background-position: center;
	 }
#encyclo > a {
	padding-right: 10rem;
	padding-top: 1rem;
}

 #encyclo:hover {
 	cursor: pointer;
 }

 .flex-container {
   display: flex;
   align-items: center;
	 height: inherit;
 }

 .flex-container > div {
   color: black;
   width: 200px;
   margin: 2px;
   text-align: center;
   line-height: 75px;
   font-size: 50px;
	 border-radius: 1rem;
	 height: inherit;
 }


.flex-container > div > a{
 display : flex;
 justify-content : center;
}


header > section {
	padding-left: 2rem;
 	background-color: green;
	text-align: left;
	align-items: left;
	justify-content: left;
 }

 /************************
  * Arbre depliable
  ************************/
	/* Overlay*/
	.overlayArbre {
	  height: 71%;
	  width: 0;
	  position: fixed;
	  z-index: 1;
	  left: 0;
	  top: 0;
		background-color: rgb(218,184,136); /* Fond */
		background-color: rgba(218,184,136, 0.7); /* Fond avec transparence */
	  overflow-x: hidden;
	  transition: 0.5s; /* Temps de déroulement */
		margin-top: 9rem;
	}

	/* Positionnement du contenu dans l'overlay*/
	.overlayArbre-content {
	  position: relative;
	  top: 25%;
	  width: 100%;
	  text-align: center;
	  margin-top: 30px;
	}

	/* Décoration bouton fermeture */
	.overlayArbre a {
	  text-decoration: none;
	  font-size: 36px;
	  color: #818181;
	  transition: 0.3s; /* Transition effects on hover (color) */
	}
	/* Quand la souris passe au dessus du bouto nde fermeture */
	.overlayArbre a:hover, .overlayArbre a:focus {
	  color: #f1f1f1;
	}

	/* Positionnement du bouton de fermeture */
	.overlayArbre .btnFermer {
	  position: absolute;
		background-image: url("../images/Bouton_arbre.png");
 		width: 9rem;
 		height: 9rem;
 		background-size: 100% 100%;
 		top: 29.5rem;
 		left: 0.1rem;
 	}
 	.overlayArbre .btnFermer:hover {
 		position: absolute;
 		background-image: url("../images/Bouton_arbre_survol_fermer.png");
	}

	/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
	@media screen and (max-height: 450px) {
	  .overlayArbre a {font-size: 20px}
	  .overlayArbre .btnFermer {
	    font-size: 40px;
	    top: 15px;
	    right: 35px;
	  }
	}

	/************************
	 * Navigation
	 ************************/
	/************************
	 * Tables
	 ************************/
	/************************
	 * Forms
	 ************************/
	/************************
	 * Footer
	 ************************/
