/************************
 * Headers and titles
 ************************/

header {
	margin-bottom: 2rem;
	margin-top: 1rem;
}

/************************
 * Global
 ************************/
body {
	background-color: #444450;
	padding-bottom: 5rem;
	font-family: 'Roboto', sans-serif;
}

main {
	background-color: #999999;
  line-height: 140%;
}
/************************
 * Lists
 ************************/

/************************
 * Headers
 ************************/


/************************
 * Navigation
 ************************/

/************************
 * Tables
 ************************/

/************************
 * Forms
 ************************/

/************************
 * Footer
 ************************/
