/************************
 * Headers and titles
 ************************/
 header {
	margin-bottom: 2rem;
	margin-top: 1rem;
}

/************************
 * Global
 ************************/
body {
	background-color: #444450;
	padding-bottom: 5rem;
	font-family: 'Roboto', sans-serif;
}

main {
	background-color: #999999;
  line-height: 140%;
}

 .accordion > li {
     height: 0;
     overflow: hidden;
 }

 input[type="checkbox"] {
     display: none;
 }

 input:checked + .accordion > li {
     height: 2em;
 }

 #accordion_encyclo {
     list-style: none;
     padding:0em;
 }

 #accordion_encyclo > li{
     padding: 0.5em;
 }

 #accordion_encyclo > li > label{
     font-weight: bold;
 }
