/************************
 * Headers and titles
 ************************/
header {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

a {
	text-decoration: none;
	color: white;
}

/************************
 * Global
 ************************/
body {
	font-family: 'Almendra', serif;
	background-color: #444450;
}

main {
	/*background-color: #999999;*/
	box-shadow: 0rem 0rem 0.7rem black;
	height: 46rem;
}

.main {
  display: flex;
  flex-wrap: wrap;
	height: 100%;
}
/* Création de trois colonnes pour l'affichage dans le main */
.container {
  flex: 59%;
	max-width: 59%;
	text-align: center;
}

.column {
	display: flex;
	max-width: 33%;
	flex: 33%;
  flex-direction: column;
	text-align: center;
}

.column > div {
	width: inherit;
	height: 50%;
}

/************************
 * Encart lois
 ************************/

#lois {
	background-image: url("../images/PanneauLoi.png");
	background-size:100% 100%;
	padding-top: 0.5rem;
	margin-bottom: 0.15rem;
	margin-left: 0.3rem;
	font-size: 1rem;
}

#lois > h2 {
	margin-top: 5.9rem;
	font-size: 1.5rem;
}

#lois > div {
	font-size: 2rem;
}

/************************
 * Encart evenements
 ************************/
#event {
	background-color: #e4cdb4;
}
#event > h1 {
	font-size: 3rem;
}

#formEvent {
	font-size: 1.5rem;
}

.contenuEvent {
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	background-color: #fafafa;
	height: 85%;
	max-height: 85%;
	width: inherit;
	max-width: 67.5rem;
	overflow: auto;
	text-align: left;
	padding-left: 1rem;
}

/* Bandeau décret lois */
.flex-event-header {
	display: flex;
}

#bandeauLoiDepl {

}

/* Overlay*/
.overlayBandeau {
	position: relative;
	text-align: inherit;
}

.overlayBandeau > span > h2 {
	padding-top: 0.5rem;
}

/* Positionnement du contenu dans l'overlay*/
.overlayBandeau-content {
	height: 0;
	width: 100%;
	position: absolute;;
	text-align: center;
	z-index: 2000;
	left: 0;
	top: 100%;
	background-color: rgb(255,255,255); /* Fond blanc */
	background-color: rgba(255,255,255, 0.9); /* Blanc avec transparence */
	overflow-x: hidden;
	transition: 0.5s; /* Temps de déroulement */
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
	.overlayBandeau a {font-size: 20px}
	.overlayBandeau .btnFermer {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}
/************************
 * Encart arbre
 ************************/

 /* Bandeau d'affichage de l'arbre généalogique*/
 #bandeauArbre {
 	height: 100%;
   width: 8%;
 	max-width: 8%;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #fafafa;
   overflow-x: hidden;
 }

 #bandeauArbre > h1 {
 	writing-mode: vertical-lr;
 	transform: rotate(180deg);
 	margin-left: 3rem;
 	margin-top: 2rem;
 	font-size: 3rem;
 }

 #bandeauArbre > span {
 	margin-left: 1rem;
 	margin-bottom: 1rem;
 	padding: 0.5rem;
 	border-top-right-radius: 1rem;
 	border-bottom-right-radius: 1rem ;
 	border-top-left-radius: 1rem;
 	border-bottom-left-radius: 1rem ;
 	font-weight: bold;
 	padding-right: 1rem;
 	text-align: right;
 	box-shadow: 0.3rem 0.3rem 0.5rem black;
 }

 span:hover {
 	background-color: rgb(222,222,222);
 	cursor: pointer;
 }
 /************************
  * Encart personnage/carac
  ************************/
	#carac {
		background-image: url("../images/livre_entier1.png");
		background-size:100% 100%;
		padding-top:1.8rem;
		margin-top: 0.15rem;
		margin-left: 0.3rem;
		font-size: 1.2rem;
	}

	#carac > h2 {
		padding-bottom: 0.3rem;
	}

	#affichageImageEtTexte {
		display : flex;
		flex-direction: row;
		justify-content: center;
	}

 #affichageTexte {
 	display : flex;
 	flex-direction: column;
 	align-self: center;
 }

 #imgPerso{
 	align-self: center;
 	width: 200px;
 	height: 200px;
 	margin-right: 4.5rem;
 }

/************************
 * Headers
 ************************/

 #titreJeu {
 	font-size: 4.5rem;
 	font-weight: bold;
 	color: #FFD700;
 }

 #annee {
 	font-size: 2.5rem;
 }

 #encyclo:hover {
 	cursor: pointer;
 }

 .flex-container {
   display: flex;
   align-items: stretch;
 }

 .flex-container > div {
   background-color: #4169E1;
   color: white;
   width: 200px;
   margin: 10px;
   text-align: center;
   line-height: 75px;
   font-size: 50px;
	 border-radius: 1rem;
 }


header > section {
	padding-left: 2rem;
 	background-color: green;
	text-align: left;
	align-items: left;
	justify-content: left;
 }

 /************************
  * Arbre depliable
  ************************/
	/* Overlay*/
	.overlayArbre {
	  height: 71%;
	  width: 0;
	  position: fixed;
	  z-index: 1;
	  left: 0;
	  top: 0;
	  background-color: rgb(255,255,255); /* Fond blanc */
	  background-color: rgba(255,255,255, 0.9); /* Blanc avec transparence */
	  overflow-x: hidden;
	  transition: 0.5s; /* Temps de déroulement */
		margin-top: 9rem;
	}

	/* Positionnement du contenu dans l'overlay*/
	.overlayArbre-content {
	  position: relative;
	  top: 25%;
	  width: 100%;
	  text-align: center;
	  margin-top: 30px;
	}

	/* Décoration bouton fermeture */
	.overlayArbre a {
	  text-decoration: none;
	  font-size: 36px;
	  color: #818181;
	  transition: 0.3s; /* Transition effects on hover (color) */
	}
	/* Quand la souris passe au dessus du bouto nde fermeture */
	.overlayArbre a:hover, .overlayArbre a:focus {
	  color: #f1f1f1;
	}

	/* Positionnement du bouton de fermeture */
	.overlayArbre .btnFermer {
	  position: absolute;
	  top: 20px;
	  right: 45px;
	  font-size: 60px;
	}

	/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
	@media screen and (max-height: 450px) {
	  .overlayArbre a {font-size: 20px}
	  .overlayArbre .btnFermer {
	    font-size: 40px;
	    top: 15px;
	    right: 35px;
	  }
	}

	/************************
	 * Navigation
	 ************************/
	/************************
	 * Tables
	 ************************/
	/************************
	 * Forms
	 ************************/
	/************************
	 * Footer
	 ************************/
