/************************
 * Headers and titles
 ************************/
 header {
}

/************************
 * Global
 ************************/
body {
  font-family: 'Almendra', serif;
  font-size: 1.2rem;

	background-color: #444450;
  background-image: url("../images/bibli.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
}

main {
	background-image: url("../images/livre_coupe2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  line-height: 140%;
  margin-right: 40rem;
  margin-left: 40rem;
  margin-top: 1rem;
  height: 48rem;
}

#texteEncyclo {
  padding-right: 8rem;
  padding-left: 10rem;
  padding-top: 3rem;
}

#texteEncyclo > h1 {
  justify-content: center;
  text-align: center;
  margin-bottom: 0.7rem;
}

#texteEncyclo > p {
	margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

label:hover {
  cursor: pointer;
}


#quitterEncyclo {
  background-image: url("../images/Parchemin_titre_gauche.png");
  background-size: 100% 100%;
  width: 20rem;
  height: 5rem;
  left: 1rem;
  bottom: 10rem;
}
#quitterEncyclo > a {
  text-decoration: none;
}
#quitterEncyclo > a > p {
  left: 1rem;
  bottom: 10rem;
  margin-left: 11rem;
  padding-top: 0.6rem;
  font-size: 1.8rem;
  color: black;
}

/************************
* Accordion
************************/
.accordion {
 padding-left: 1rem;
}


 .accordion > li {
     height: 0;
     overflow: hidden;
     font-size: 0.8rem;
 }

 input[type="radio"] {
   display: none;
 }

 input:checked + .accordion > li {
     height: 2rem;
     padding-bottom: 4.5rem;
 }

 #accordion_encyclo {
     list-style: none;
     padding:0.7rem;
 }

 #accordion_encyclo > li{
     padding: 0.2rem;
 }

 #accordion_encyclo > li > label{
     font-weight: bold;
 }
