/************************
 * Headers and titles
 ************************/

/************************
 * Global
 ************************/




html {
  background: url(../images/login.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  height: 100%;
  margin: 0rem;
  background-repeat: no-repeat;
}

body {
  height: 100%;
  max-height: 100%;
  margin: 0rem;
  background-repeat: no-repeat;
}

.boutonAvancer > input {
  width: 8rem;
  height: 4rem;
  font-size: 1.5rem;
  margin-top: 55rem;
}


/************************
 * Lists
 ************************/

/************************
 * Headers
 ************************/


/************************
 * Navigation
 ************************/

/************************
 * Tables
 ************************/

/************************
 * Forms
 ************************/

/************************
 * Footer
 ************************/
