body {
	font-family: 'Roboto', sans-serif;
	background-color: #fcfbdb;
}

header {
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
	font-size: 1.5rem;
}

main {
	display : flex;
	flex-direction: row;
	height: 40rem;
	align-items: stretch;
	justify-content: center;
}

#divPersonnage {
	display : flex;
	flex-direction: column;
	align-self: center;
}

p{
	flex-grow: 1;
	text-align: center;
	margin : 0rem 0.5rem 0rem 0.5rem;
}

#imgPerso{
	align-self: center;
	width: 200px;
	height: 200px;
	margin-right: 1rem;
}
